<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">

      <!-- todo: 加上連結 -->
      <%= link_to root_path, class: 'nav-item' do %>
        <%= image_tag 'logo', alt: 'Buy Together Logo' %>
      <% end %>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">

      <!--  todo: 加上連結 -->
      <%= link_to t("nav_bar.store_info"), stores_path, class: 'nav-item is-tab ' + "#{'is-active' if controller.controller_name == 'stores'}" %>
      <%= link_to t("nav_bar.propose"), new_purchase_path, class: 'nav-item is-tab ' + "#{' is-active' if controller.controller_name == 'purchases'}" %>
      <%= link_to t("nav_bar.history_info"), stores_path, class: 'nav-item is-tab ' + "#{' is-active' if controller.controller_name == ''}" %>
      <%= link_to t("nav_bar.account_management"), edit_user_registration_path, class: 'nav-item is-tab ' + + "#{' is-active' if current_page?(edit_user_registration_path)}" %>
      <% if current_user %>
        <%= link_to t("nav_bar.sign_out"), destroy_user_session_path, method: :delete, class: 'nav-item is-tab' %>
      <% else %>
        <%= link_to t("nav_bar.sign_in"), new_user_session_path, class: 'nav-item is-tab'  %>
      <% end %>

      <%= link_to "中文", :controller => controller_name, :action => action_name, :locale => "zh_TW" %> |
      <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
    </div>
  </div>
</nav>
